.task-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
  text-wrap: nowrap;
  height: 12vh;
}
.task-list-header-title{
  font-size: 1.5rem;
  font-weight: 700;
}

div > span {
  margin: 0px 1rem;
}

.task-list-header-delete {
  color: #ba5112;
  cursor: pointer;
}

@media (max-width:580px){
  .task-list-header-title{
    font-size: 0.8rem;
  }
  .task-header{
    margin-top: 1.5vh;
  }
  div > span {
    font-size: 0.8rem;
    margin: 0px 0.4rem;
  }
}