.header-app-title {
  text-align: center;
  font-size: 1.5rem;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

.header-active-window-title {
  margin-left: 1.8vw;
}

.sign-out-btn {
  display: flex;
  color: white;
  font-size: 0.8rem;
  padding: 1rem;
  width: fit-content;
  text-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  border: none;
  background-color: #ba5112;
  border-radius: 0.5rem;
  margin-right: 5rem;
  cursor: pointer;
}

.add-task-btn {
  margin: 1% 0;
  background: #fff;
  border: none;
  display: none;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.8rem;
  opacity: 80%;
  width: fit-content;
  text-wrap: nowrap;
  font-weight: 600;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.add-task-btn img {
  height: 1.2rem;
}

.sign-out-btn img {
  margin-left: 0.5rem;
  width: 0.8rem;
}

.header-app-title {
  color: #ba5112;
  font-weight: 600;
  white-space: nowrap;
  font-size: 2rem;
}
@media (max-width: 768px) {
    .header-content {
      height: 8vh;
      margin:2vh 0;
    }
    .header-app-title {
      font-size: 1.5rem;
    }.sign-out-btn{
      margin-right: 1rem;
    }
    .add-task-btn {
      display: flex;
      margin: 1rem;
      padding: 1rem;
    }
  
    .header-active-window-title {
      display: none;
    }
    .header-content {
      justify-content: end;
    }
  }
  
@media (max-width: 480px) {
  .header-app-title {
    font-size: 1rem;
  }
  .add-task-btn {
    display: flex;
    margin: 0.2rem;
    padding: 0.6rem;
    font-size: 0.8rem;
  }

  .sign-out-btn{
    margin: 0.5rem;
    padding: 0.6rem;
    font-size: 0.8rem;

  }
}

